<div class="container">
    <h2 *ngIf="selectedBeverage">{{user.lastName}}'s most recent selected drink is {{selectedBeverage}}</h2>
    <div class="modal" [ngClass]="showModal ? 'show-modal' : '' ">
        <div class="modal-content">
            <span class="close-button" (click)="showModal = false;">×</span>
            <h2>{{title}}</h2>
            
            <ng-container *ngIf="!newUser">
                <app-usual (defaultSelection)="drinkSelection($event)" ></app-usual>
            </ng-container>

            <div *ngIf="!selectedBeverage">
                <ng-container *ngIf="(!nameSubmitted && newUser) else beverageSelection">
                    <div>
                        <input [(ngModel)]="user.firstName" type="text" id="fname" name="firstname"
                            placeholder="First name..">
                        <input [(ngModel)]="user.lastName" type="text" id="lname" name="lastname"
                            placeholder="Last name..">
                        <button class="btn-style" (click)="saveUser()"
                            [disabled]="!user.firstName || !user.lastName">Continue</button>
                    </div>
                </ng-container>
                <ng-template #beverageSelection>
                    <div *ngIf="(!addBeverage) && showMenu">
                        <label for="beverage">selects a beverage</label> or <span (click)="addBeverage = true; showMenu = false;"
                            class="pointer">Add new beverage</span>
                        <select id="beverage" name="beverage" [(ngModel)]="selectedBeverage"
                            (change)="getBeverage($event.target.value)">
                            <option *ngFor="let drink of beverageList" [value]="drink">{{drink}}</option>
                        </select>
                    </div>
                    <app-beverage *ngIf="addBeverage && !showMenu"
                        (updateBeverageList)="getUpdatedBeverageList($event)"></app-beverage>
                </ng-template>
            </div>
        </div>
    </div>
</div>