.container
    margin: auto 6rem
    background-color: #EAF2F8
    height: 100vh
    text-align: center
    padding: 2rem

input[type=text], select 
  width: 100%
  padding: 12px 20px
  margin: 8px 0
  display: inline-block
  border: 1px solid #ccc
  border-radius: 4px
  box-sizing: border-box

.apply-padding 
    padding: 0 20%

.add-beverage-label
    color: blue
    font-weight: 800